* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

[class*="col-"] {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 20px;
}

@media screen and (min-width: 320px) {

    [class*="col-m"] {
        margin-bottom: 0;
    }

    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    [class*="col-t"] {
        margin-bottom: 0;
    }

    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100%;
    }
}

@media screen and (min-width: 980px) {
    .container {
        width: 980px;
    }

    [class*="col-d"] {
        margin-bottom: 0;
    }

    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

body {
    margin: 0; padding: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-uppercase {
    text-transform: uppercase;
}