body {
    font-family: 'Roboto', sans-serif;
    color: #5B5C4C;
    font-size: 16px;
}

/* header */

header {
    text-align: left;
    border-bottom: 4px solid #BCBBBB;
    margin: 30px auto;
}

header h1,
header h2 {
    font-weight: lighter;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

header h1 {
    font-size: 2.8em;
    margin: 30px 0 20px 0;
}

header h2 {
    font-size: 1.3em;
    margin: 0 0 20px;
}

#main-logo {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 15px 0 0 0;
}

/* hero section */

.hero {
    height: 350px;
    background: url('../images/seagull-183229_1280.jpg') no-repeat center / cover;
    margin: 20px auto;
    position: relative;
}

.hero .main-work {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: transparent;
}

.hero .main-work:hover {
    background-color: rgba(255, 255, 255, 0.4);

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.hero .main-work h3 {
    position: absolute;

    bottom: 20px;
    left: 20px;

    margin: 0;

    font-size: 3em;
    font-weight: bold;
    color: #5B5C4C;
    text-decoration: none;

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.hero .main-work span {
    opacity: 0;

    font-size: 1em;
    font-weight: bold;
    color: #5B5C4C;
    text-decoration: none;
    position: absolute;

    bottom: 20px;
    left: 20px;
}

.hero .main-work:hover h3 {
    bottom: 40px;
}

.hero .main-work:hover span {
    opacity: 1;

    -webkit-transition: all 400ms ease-out 200ms;
    -moz-transition: all 400ms ease-out 200ms;
    -o-transition: all 400ms ease-out 200ms;
    transition: all 400ms ease-out 200ms;
}

/* featured-work section */

.featured-work h4 {
    color: #BCBBBB;
    font-size: 1.8em;
    font-weight: normal;

    margin: 20px auto 10px;
}

.featured-work a:visited,
.featured-work a {
    color: #5B5C4C;
    font-size: 0.7em;
}

.box-work {
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;
    font-weight: lighter;
}

.box-work .image {
    width: 100%;
}

.box-work .image img {
    width: 100vw;
}

.box-work h5 {
    font-size: 1.8em;
    margin: 10px auto;
    color: #5B5C4C;
    font-weight: normal;
}

/* media query */

@media screen and (max-width: 767px) {
    header {
        font-size: 12px;
    }

    .featured-work {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) {
    header {
        text-align: right;
    }
}

@media screen and (min-width: 980px) {
    .featured-work {
        font-size: 22px;
    }
}